$color-orange: #f0832f;
$color-blue: #0f57a7;
$color-purple: #cf2160;

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

body {
    background-color: #ddd;
    font-family: sans-serif;
}
@import '_student';
